/*CSS da pagina Seja Bem Vindo */

/* Área do conteudo */

#area_adm_turismo{
    width: 1400px;
    height: 700px;
/*    padding: 50px;*/
    float: left;
/*    background-color: aqua;*/
}

#caixa_dentro_area_adm_turismo{
    width: 90%;
    min-height: 1px;
    margin: auto;
    height: auto;
    overflow: hidden;
/*    background-color: dimgrey;*/
}


/*************************************************/
/* Modularização dos botões que aparecem em cima */

#titulo_pagina_principal{
    width: 1400px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    font-size: 26pt;
}

#botoes_cima{
    width: 1378px;
    height: 85px;
    padding-left: 10px;
    padding-top: 25px;
    text-align: center;
}

#botoes_cima ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

#botoes_cima ul li{
    width: 170px;
    height: 60px;
    margin: 0px;
    padding: 0px;
    float: left;
    font-size: 18pt;
    line-height: 60px;
    border-right: solid 1px #4F71C4;
    border-left: solid 1px #4F71C4;
}

/*************************************************/

#segura_conteudo_dicas{
    width: 90%;
    height: auto;
    min-height: 100px;
    overflow: hidden;
    border: solid 1px #161617;
/*    background-color: antiquewhite;*/
/*    margin: auto;*/
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

/* Parte do menu lateral */


#menu_lateral_area_turismo{
    width: 300px;
    height: 600px;
    padding-top: 20px;
    background-color: #4F71C4;
    float: left;
}

#menu_lateral_area_turismo ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

#menu_lateral_area_turismo ul li{
    width: 300px;
    height: 50px;
    margin: 0px;
    padding: 0px;
    font-size: 18pt;
    text-align: center;
    line-height: 50px;
    background-color: #8191FF;
    margin-bottom: 20px;
}


/* Parte do cadastro! */

#cadastro_posto{
    width: 90%;
    height: auto;
/*    float: left;*/
    font-size: 15pt;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
/*    background-color: red;*/
/*    margin-left: 50px;*/
}

#titulo_pagina{
    width: 1100px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    font-size: 22pt;
}



/* Área para salvar uma nova Dica */

#seguraPosto1{
    width: 650px;
/*    background-color: red;*/
    margin: auto;
    margin-top: 5px;
    height: auto;
    min-height: 1px;
    overflow: hidden;
}

.seguraPosto{
    width: 450px;
/*    background-color: forestgreen;*/
    margin: auto;
    margin-top: 5px;
    height: auto;
    min-height: 1px;
/*    float: left;*/
    overflow: hidden;
}


.textoPosto{
    width: 300px;
/*    margin: auto;*/
    text-align: center;
    margin-top: 5px;
    font-size: 20pt;
/*    background-color: dodgerblue;*/
    float: left;
    margin-bottom: 10px;
}

.textoPosto1{
    width: 110px;
/*    margin: auto;*/
    text-align: center;
    margin-top: 5px;
    font-size: 20pt;
/*    background-color: dodgerblue;*/
    float: left;
}

.caixaPostoR{
    width: 305px;
/*    background-color: firebrick;*/
    float: left;
    margin-left: 5px;
}

#alinhaLocal{
    width: 300px;
    height: 30px;
    text-align: center;
}

#trocaImg img{
    width: 100px;
    height: 100px;
}




#botao{
    height: 50px;
    width: 100px;
    margin: auto;
/*    background-color: forestgreen;*/
    margin: auto;
    margin-bottom: 5px;
}

#alinhamentoBt{
    margin-top: 10px;
    height: 40px;
    width: 100px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
/*    margin-bottom: 100px;*/
}



/* Lugar onde sera a tabela com as postos e as opcoes do crud*/

#caixaPostos{
    width: 100%;
    height: 390px;
/*    background-color: deepskyblue;*/
    margin: auto;
    margin-top: 20px;
}

#titlePostos{
    min-height: 5px;
    height: auto;
    overflow: hidden;
/*    background-color: #4F71C4;*/
    width: 100%;
    margin: auto;
    font-family: 'Verdana';
    font-size: 15pt;
    text-align: center;
}

.titulo1{
/*    margin-left: 20px;*/
    width: 243px;
    float: left;
    margin-left: 3px;
    border: solid 1px;
     color: #FF7500;
}

#caixaCrescePosto{
    height: 450px;
    overflow: auto;
    width: 100%;
    margin: auto;
/*    background-color: blue;*/
}

.conteudoDica{
    height: 25px;
    width: 243px;
    float: left;
    margin-left: 3px;
    border: solid 1px;
    text-align: center;
    font-size: 15pt;
    background-color: aliceblue;
    overflow: auto;
    padding-top: 5px;
}










/* Área da tabela que mostra todos os registros */


#area_tabela_turismo{
    width: 1100px;
    height: 275px;
    padding-top: 5px;
    background-color: red;
}

#tabela_turismo{
    width: 800px;
    height: 270px;
    margin: auto;
    border: solid 1px #4F71C4;
}

#linha_cima_tabela_turismo{
    width: 800px;
    height: 20px;
    text-align: center;
    background-color: #4F71C4;
}

.itens_tabela_turismo{
    width: 220px;
    height: 20px;
    float: left;
}

#opcoes_itens_tabela_turismo{
    width: 120px;
    height: 20px;
    float: left;
}

#caixa_mostra_registros_tabela_turismo{
    width: 800px;
    height: 250px;
    text-align: center;
    line-height: 44px;
    overflow: auto;
}

.itens_registros_tabela_turismo{
    width: 212px;
    height: 44px;
    padding-left: 4px;
    padding-right: 4px;
    float: left;
    overflow: hidden;
}

.opcoes_itens_registros_tabela_turismo{
    width: 120px;
    height: 44px;
    float: left;
}

.opcoes_itens_registros_tabela_turismo img{
    width: 16px;
    height: 16px;
}